@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
  @apply bg-green-600 text-white py-2 px-6 rounded-md hover:bg-green-700 active:bg-green-800 ;
}

input, textarea {
  @apply border-2 border-gray-500 rounded-md px-2 py-2 w-full mb-2 placeholder:text-gray-300 text-sm;
}

input:focus, textarea:focus {
  @apply outline-green-600 border-green-600;
}

h1 {
  @apply text-green-900 mb-2 text-lg font-semibold;
}

label > span {
  @apply text-green-900;
}