@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button-primary {
  @apply bg-green-600 text-white py-1 px-4 rounded-md hover:bg-green-700 active:bg-green-800 ;
}

.button-danger {
  @apply bg-red-600 text-white py-1 px-4 rounded-md hover:bg-red-700 active:bg-red-800 ;
}

.button-info {
  @apply bg-blue-600 text-white py-1 px-4 rounded-md hover:bg-blue-700 active:bg-blue-800 ;
}

.button-light {
  @apply bg-gray-600 text-white py-1 px-4 rounded-md hover:bg-gray-700 active:bg-gray-800 ;
}

input, textarea {
  @apply border border-gray-500/40 rounded-md px-2 py-2 w-full placeholder:text-gray-300 text-sm;
}

input:focus, textarea:focus {
  @apply outline-green-600 border-green-600;
}

h1 {
  @apply text-green-900 mb-2 text-lg font-semibold;
}

label > span {
  @apply text-green-900;
}

table.basic {
  @apply w-full;
}

table.basic thead tr td {
  @apply bg-green-300;
}

table.basic tr td {
  @apply border p-1 border-green-300;
}

table.basic a {
  @apply text-white text-sm py-1 px-3 rounded-md inline-flex gap-1;
}

form {
  @apply flex gap-2 max-w-[30rem];
}

form.long-form {
  @apply flex-col
}